*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main-color: #3B10E4;
    --box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.34);
     /*Here 0px = Horizontal Offset
            3px = Vertical Offset
            5px = Blur
            0px = Spread
            rgba = color name  */
    --hover-shadow: 0px 4px 4px 0px rgba(3,3,3,0.561);
    --nav-shadow: 0px 0px 10px 0px rgba(0,0,0,0.100);
    --light-black: #141c3a;
}

body{
    font-family: Apercu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #FEF0E4;
}

.container{
    width: 23rem;
    margin: 100px auto;
}

form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

form label{
    margin: 5px 0;
    font-size: 14.4px;
}

form input[type="text"], input[type="password"]{
    height: 50px;
    margin-bottom: 25px;
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

form input:focus{
    outline: none;
    border:2px solid #3B10E4;
    transition: 0.3s ease-in-out;
}

form a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}

form input[type="submit"]{
    width: 30%;
    height: 40px;
    background-color: var(--main-color);
    font-size: 18px;
    font-family: "Nunito", "san-serif";
    border: none;
    border-radius: 2px;
    color: #fff;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
}

form input[type="submit"]:hover{
    box-shadow: var(--hover-shadow);
    transform: translateY(-3px);
}

.footer .images{
    /* border: 1px solid black; */
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.footer .images img{
    border: 1px solid black;
    background-color: #fff;
    width: 15%;
    padding: 15px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.footer .images img:hover{
filter: contrast(88%);
    cursor: pointer;
}

.footer span{
    margin-top: 500px;
}

.footer a{
    color: var(--main-color);
}









  @media (min-width: 270px) and (max-width: 400px) {
  
    .container{
        width: 90%;
    }

    .footer .images img{
        width: 15%;
        /* padding: 15px; */
    }
    
  }